@using Microsoft.AspNetCore.Identity
@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" title="Manage">Ciao @User.Identity.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-controller="user" asp-action="logout"  asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark"  asp-controller="user" asp-action="register" >Registrare</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark"  asp-controller="user" asp-action="login">Login</a>
    </li>
}
</ul>