﻿@model Tcc.Models.Animal

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Animal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cor" class="control-label"></label>
                <input asp-for="Cor" class="form-control" />
                <span asp-validation-for="Cor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RacaId" class="control-label"></label>
                <select asp-for="RacaId" class="form-control" asp-items="ViewBag.RacaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Porte" class="control-label"></label>
                <select asp-for="Porte" class="form-control" asp-items="ViewBag.Porte"></select>
            </div>
            <div class="form-group">
                <label asp-for="Idade" class="control-label"></label>
                <select asp-for="Idade" class="form-control" asp-items="ViewBag.Idade"></select>
            </div>
            <div class="form-group">
                <label asp-for="UsuariosId" class="control-label"></label>
                <select asp-for="UsuariosId" class="form-control" asp-items="ViewBag.UsuariosId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
